:root {
  --cell-size: 16px;
  --column-count: 20;
  --row-count: 15;

  --size-s: 4px;
  --size-m: 8px;
  --size-l: 16px;

  --canvas-background: black;
  --canvas-border: white;

  --text-color: #b6c454;

  --button-text-color: #ffe1a8;
  --button-background-color: #407076;
  --button-border-color: #6da34d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

p {
  margin: 0;
}

.u-Hidden {
  display: none !important;
}

canvas {
  background-color: var(--canvas-background);
  border: 4px solid var(--canvas-border);
  width: calc(var(--column-count) * var(--cell-size));
  height: calc(var(--row-count) * var(--cell-size));
}

.Display {
  display: flex;
  align-items: flex-start;
  gap: var(--size-m);
  padding: var(--size-m);
}

.UpgradeShop {
  display: flex;
  flex-direction: column;
  gap: var(--size-s);
}

.Button {
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 16px 32px;
  border-radius: 8px;
  cursor: pointer;
  font-size: small;
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: var(--button-border-color), dashed;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

.PurchaseButton svg {
  display: none;
}

.PurchaseButton--Purchased svg {
  display: block;
}

.Button:disabled {
  opacity: 0.5;
}

.Scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-s);
}

.Interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-s);
}
