:root {
  --cell-size: 16px;
  --column-count: 20;
  --row-count: 15;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

p {
  margin: 0;
}

canvas {
  background-color: black;
  border: 4px solid white;
  width: calc(var(--column-count) * var(--cell-size));
  height: calc(var(--row-count) * var(--cell-size));
}

.Scoreboard {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.Interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 4px;
}
