:root {
  --cell-size: 32px;
  --column-count: 20;
  --row-count: 15;

  --size-s: 4px;
  --size-m: 8px;
  --size-l: 16px;
  --size-xl: 32px;

  --canvas-background: black;
  --canvas-border: #28536b;

  --text-color: #f3752b;
  --button-text-color: #bf0603;

  --shop-button-background-color: #f7b538;
  --shop-button-border-color: #6da34d;

  --menu-button-text-color: #ffe1a8;
  --menu-button-background-color: #f79d5c;
  --menu-button-border-color: #6da34d;

  --border-radius-m: 8px;

  /* Custom range slider */

  --track-height: 12px;
  --thumb-size: 25px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

p {
  margin: 0;
}

.u-Hidden {
  display: none !important;
}

canvas {
  background-color: var(--canvas-background);
  border: 4px solid var(--canvas-border);
  width: calc(var(--column-count) * var(--cell-size));
  height: calc(var(--row-count) * var(--cell-size));
}

.Text--Large {
  font-size: 1.5rem;
}

.Slider {
  margin-top: 10px;
  width: 100%;
  position: relative;
}

input[type="range"] {
  /* Hide default input */
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  position: relative;

  width: 100%;
}

/* Track styling */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--track-height);
  background: #db7c26;
  border-radius: 10px;
}

/* Thumb styling */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: #f7b538;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin-top: calc((var(--thumb-size) - var(--track-height)) / -2);
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover and focus effects */
input[type="range"]:hover::-webkit-slider-thumb {
  transform: scale(1.2);
}

input[type="range"]:disabled {
  opacity: 0.5;
}

input[type="range"]:disabled::-webkit-slider-thumb {
  transform: none;
  cursor: default;
}

.Display {
  display: flex;
  align-items: flex-start;
  gap: var(--size-m);
  padding: var(--size-m);
}

.UpgradeShop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-s);
}

.ButtonGroup {
  display: flex;
  flex-direction: column;
  gap: var(--size-s);
}

.GridGroup {
  display: grid;
  grid-template-columns: repeat(2, minmax(180px, 1fr));
  gap: var(--size-s);
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border-radius: var(--border-radius-m);
  font-weight: 700;
  cursor: pointer;
  font-size: small;
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.Button--Shop {
  background-color: var(--shop-button-background-color);
  color: var(--button-text-color);
}

.Button--Menu {
  background-color: var(--menu-button-background-color);
  color: var(--button-text-color);
}

.Button--Icon {
  background: transparent;
  border: none;
  color: white;
  padding: var(--size-s);
}

.Modal {
  position: relative;
  background: #b8af7f;
  background: linear-gradient(
    90deg,
    rgba(184, 175, 127, 1) 45%,
    rgba(171, 65, 41, 1) 100%,
    rgba(214, 207, 144, 1) 56%
  );
  width: 90%;
  max-width: 400px;
  border-radius: var(--border-radius-m);
  border: 1px solid white;
}

.Modal .Button--Icon {
  color: black;
}

.Modal__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-m);
}

.Modal__Close {
  position: absolute;
  top: 0;
  right: 0;
}

.Modal::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.PurchaseButton svg {
  display: none;
}

.PurchaseButton--Purchased svg {
  display: block;
}

.Button:disabled {
  opacity: 0.5;
}

#mute-toggle[data-is-muted="false"] svg:last-child {
  display: none;
}

#mute-toggle[data-is-muted="true"] svg:first-child {
  display: none;
}

.Scoreboard {
  display: grid;
  position: relative;
  width: 640px;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
  gap: var(--size-xl);
}

.Scoreboard__Settings {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Scoreboard__Item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-m);
}
